.places{
    list-style-type: none;
}

.places>li{
    margin: 10px;
}

.places>li:hover {
    font-weight: bold;
    cursor: pointer;
}

.place-id{
    border: 1px solid;
    border-radius: 3px;
}

.selected{
    font-weight: bold;
}