<h2>My Places</h2>
<ul class="places">
  <li 
  *ngFor="let place of placeStateService.places" 
  routerLink="/places/{{place.id}}">
    <span class="place-id">{{place.id}}</span> {{place.name}}
  </li>
</ul>