<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  <h2>An application to find and explore sites worth visiting around the world!</h2>

  Top places: 
  <span *ngFor="let place of topPlaces | slice:0:2">
    {{place.name}} 
  </span>