<div *appUnless="!place">
  <h2 [innerHTML]="place.name | wikilink"></h2>

  <div>
    <label  [appHighlight]="'orange'" for="name">Name: </label>
    <input [(ngModel)]="place.name" placeholder="Enter place">
  </div>

  <div>
    <label for="visits">Visits: </label>
    <input [(ngModel)]="place.visits" placeholder="Enter visits number">
  </div>

  <button mat-raised-button (click)="savePlace()">Save</button>
</div>
<br>
<button (click)="goBack()">Back</button>