<h1 *ngIf="!name">
    Hello not admin
</h1>
<h1 *ngIf="name">
    Hello, admin {{name}}
</h1>

<button class="btn btn-default" (click)="login()">
    Login
</button>
<button class="btn btn-default" (click)="logoff()">
    Logout
</button>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div>
    Username/Password: max/geheim
</div>

<pre>
  {{token}}
</pre>