/* Application-wide Styles */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: darkblue;
  font-family: Arial, Helvetica, sans-serif;
}